.parking-card {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-left: 10px;
    cursor: pointer;
}

#nomParking{
    font-weight: bold;
}

#statut {
    float: right;
    font-size: large;
}

#placeDispo {
    color: darkblue;
}

#spinner {
    margin: 0 auto;
    color: grey;
    ime-mode: 30px;
}